/* Reset
---------------------------------------------------------------------------------- */

body {
    font-family: arial, helvetica, sans-serif;
    font-size:14px;
    color:#333;
    }

a {color:#666;text-decoration:none}
    a:hover {color: #333; text-decoration: underline;}

/* /Reset
---------------------------------------------------------------------------------- */