<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if page.description %}
    <meta name="description" content="{{ page.description }}" />
    {% endif %}

    <link rel="stylesheet" type="text/css" media="screen" href="{{ site.baseurl }}/theme/stylesheets/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/theme/stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/theme/stylesheets/print.css" media="print" />

    <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>{{ page.title }}</title>
</head>

<body>
    <header class="header">
        <div class="content-wrap">
            <h1 class="header_t">{{ page.title }}</h1>

            {% if page.description %}
            <h2 class="header_sub-t">{{ page.description }}</h2>
            {% endif %}

            <a href="{{ site.project-url }}" class="watch-on-github"><small class="watch-on-github_text">{{ site.res-watch-on-github }}</small> GitHub</a>
        </div>
    </header>

    <div class="main">
        <div class="content-wrap clearfix">
            <section class="content" id="content">
                {{ content }}
            </section>

            <aside class="sidebar" id="sidebar">
                <nav class="navigation">

                    <div class="navigation_t">
                        {{ site.res-navigation-suggested }}
                    </div>

                    <ul class="navigation_ul">
	                    <li><a href="http://sourcejs.com">SourceJS - Living Style Guide on Steroids</a></li>
                    </ul>

                </nav>

                <div class="repo-owner">
                    <div class="repo-owner_t">{{ site.res-author }}</div>
                    <div class="repo-owner_n">
                        {{ site.res-project-author }}
                    </div>
                    <div class="repo-owner_links">{{ site.res-project-author-twitter }}</div>
                </div>
            </aside>

            <footer class="footer">
                <p>{{ site.res-footer }}.</p>
            </footer>
        </div>
    </div>

    <script type="text/javascript">
	  var _gauges = _gauges || [];
	  (function() {
	    var t   = document.createElement('script');
	    t.type  = 'text/javascript';
	    t.async = true;
	    t.id    = 'gauges-tracker';
	    t.setAttribute('data-site-id', '5363f852e32bb476de001097');
	    t.src = '//secure.gaug.es/track.js';
	    var s = document.getElementsByTagName('script')[0];
	    s.parentNode.insertBefore(t, s);
	  })();
	</script>

    <!-- Yandex.Metrika counter -->
	<script type="text/javascript">
	(function (d, w, c) {
	    (w[c] = w[c] || []).push(function() {
	        try {
	            w.yaCounter24863876 = new Ya.Metrika({id:24863876});
	        } catch(e) { }
	    });

	    var n = d.getElementsByTagName("script")[0],
	        s = d.createElement("script"),
	        f = function () { n.parentNode.insertBefore(s, n); };
	    s.type = "text/javascript";
	    s.async = true;
	    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

	    if (w.opera == "[object Opera]") {
	        d.addEventListener("DOMContentLoaded", f, false);
	    } else { f(); }
	})(document, window, "yandex_metrika_callbacks");
	</script>
	<noscript><div><img src="//mc.yandex.ru/watch/24863876" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
	<!-- /Yandex.Metrika counter -->

    <!-- Based on GitHub Pages Architect template by <a href="http://twitter.com/jasonlong">Jason Long</a> -->

</body>
</html>